body {
    font-family: Arial, sans-serif;
    background-color: #ddf3e1;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #2c3e50;
}

textarea, input[type="password"], input[type="file"] {
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #01141f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #152a59;
}

.hidden {
    display: none;
}

#main-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.section {
    margin-top: 10px;
}

textarea[readonly] {
    background-color: #eee;
    color: #555;
}